@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  size: 90%;
}

html,
body {
  height: 100%;
}


body {
  background: #c1f7f5 !important;
  padding-top: 80px;
}

/*container for youtube video*/
.container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  margin: 40px auto;
  padding: 40px;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/*naviagation bar*/


#nav-links {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 15px;
  border-radius: 0%;
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#nav-links li {
  list-style: none;
  margin: 0 12px;
}

#nav-links li a {
  position: relative;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}

#nav-links li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #34efdf;
  border-radius: 12px;
  transition: all 0.4s ease;
}

#nav-links li a:hover::before {
  width: 100%;
}

#nav-links li.center a::before {
  left: 50%;
  transform: translateX(-50%);
}

#nav-links li.upward a::before {
  width: 100%;
  bottom: -5px;
  opacity: 0;
}

#nav-links li.upward a:hover::before {
  bottom: 0;
  opacity: 1;
}

#nav-links li.forward a::before {
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}

#nav-links li.forward a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/*form styling for user enter*/
#user_website_enter_form {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

#user_website_enter_form:hover {
  outline: none;
  border-color: black;
}

/*button styling*/
.load_video_btn {
  background-color: rgb(75, 75, 234);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.load_video_btn:hover {
  background-color: rgb(50, 50, 200);
}

/*frame styling*/
#youtube_iframe {
  padding: 5px;
  margin: 10px 0;
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown ul {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}



.dropdown-item:hover,
.dropdown li:hover {
  background-color: rgb(50, 50, 200);
  color: #fff;
  transition: background 0.2s, color 0.2s;
}